




/* main */

.hero {
    padding-top: 100px; 
    padding-bottom: 60px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero .lead {
    margin-bottom: 30px;
}




/* footer */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


